[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=alex
Group=nginx
WorkingDirectory=~/twitch_moods/twitch
Environment="PATH=~/.venv/web/bin"
ExecStart=~/.venv/web/bin/uwsgi --ini myproject.ini

[Install]
WantedBy=multi-user.target

